/* #middleBg{
   background-image: url("./image/download.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;   
} */

/* #middleBg{
   background-color: ;

} */

/* #middleText{
   background-image: url("./image/download.jpg");
   color: transparent;
   background-size: contain;
   font-size: 40px;
   background-clip: text;
}          */





/* Middle.css */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

#middleText {
  animation: float 6s ease-in-out infinite;
}